---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/66.90.76.182?fields=status,message,country,countryCode,region,regionName,city,zip,lat,lon,timezone,isp,org,as,mobile,proxy,hosting,query
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ttl:
      - '60'
      X-Rl:
      - '44'
    body:
      encoding: UTF-8
      string: '{"status":"success","country":"Chile","countryCode":"CL","region":"RM","regionName":"Santiago
        Metropolitan","city":"Santiago","zip":"34033","lat":-33.4521,"lon":-70.6536,"timezone":"America/Santiago","isp":"FDCservers.net","org":"FDCservers.net
        LLC","as":"AS30058 FDCservers.net","mobile":false,"proxy":false,"hosting":false,"query":"66.90.76.182"}'
  recorded_at: Tue, 11 Jul 2023 17:43:32 GMT
recorded_with: VCR 6.2.0
